<html>

    <head>
        <title> Manage Account  </title>
    </head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        body {
        background-color: #92A8D1; 
       /* background-color: #FF6F61;*/
        }
         
        tr:hover {background-color: rgb(201, 233, 241);}

        th, td {
  padding: 10px;
}

        </style>

    <body>
        
        <br>
        <center><h1> My Accounts </h1></center>
        <br><br><br>
        
        <center>
           
            <h2>Admin :    </h2><br>

            <table border="2px" width="80%" style="border-collapse: collapse; background-color: rgb(240, 240, 233);">
                <tr>
                    <td align="center" width="25%"><b>Account Name</b></td>
                    <td align="center" width="25%"><b>Members</b></td>
                    <td align="center" width="25%"><b>Balance</b></td>
                    <td align="center" width="25%"><b>Settings</b></td>
                </tr>
            </table>
            <br>

            <table border="1px" width="80%" style="border-collapse: collapse;">
               
                <%
                for ( var i = 0; i < ans.length; i++ ) { %>

                <tr>
                  <%  
                        if( uId == ans[i].Admin) {
                        %>
                             <td align="center" width="25%"><%= ans[i].accName %></td>
                             <td align="center" width="25%"><%= ans[i].Members %></td>
                             <td align="center" width="25%">0</td>
                             <td align="center" width="25%">
                                <a href="settings?id=<%= ans[i].Admin %>&acname=<%= ans[i].accName %>&acid=<%= ans[i]._id %>"><i class="fa fa-gear fa-spin" style="font-size:35px;color:red"></i></a>
                            </td>
                <%
                    }
                        }                                               
                 %>                
                    
                </tr>

            </table>

        </center>
        <br><br>
        <center>

            <h2>Member :</h2><br>

            <table border="2px" width="80%" style="border-collapse: collapse; background-color: rgb(240, 240, 233);">
                <tr>
                    <td align="center" width="33%"><b>Account Name</b></td>
                    <td align="center" width="33%"><b>Members</b></td>
                    <td align="center" width="33%"><b>Balance</b></td>
                </tr>
            </table>
            <br>

            <table border="1px" width="80%" style="border-collapse: collapse;">
               
                <%
                for ( var i = 0; i < ans.length; i++ ) { %>

                <tr>
                  <%  
                        if( uId != ans[i].Admin) {
                        %>
                             <td align="center" width="33%"><%= ans[i].accName %></td>
                             <td align="center" width="33%"><%= ans[i].Members %></td>
                             <td align="center" width="33%">0</td>
                <%
                    }
                        }                                               
                 %>                
                    
                </tr>

            </table>
 

         </center>
            

    </body>

</html>